body>header {
	$horizontal-margin: 35px;
	$inner-width: 340px;

	height: 75px;

	position: relative;
	z-index: 10;

	display: grid;
	grid-template-columns: var(--spacing-wrapper) 1fr 1fr var(--spacing-wrapper);
	align-items: center;

	font-size: var(--font-size-header);

	background-color: var(--color-background);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	.logo {
		margin-left: $horizontal-margin;

		display: flex;
		align-content: center;
	}

	nav {
		width: $inner-width;

		display: flex;
		justify-content: space-between;

		a {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}

	.search-bar {
		width: $inner-width;
		justify-self: right;
		position: relative;

		img {
			width: 14px;
			height: 14px;

			position: absolute;
			top: 50%;
			left: 9px;
			transform: translate(0, -50%);
		}

		input {
			width: 100%;
			height: 33px;

			padding: {
				left: 33px;
			}

			border: solid 1px var(--color-border-dark);
			background-color: var(--color-background-dark);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

			font-size: 14px;
		}

		input::placeholder {
			color: var(--color-black);
		}
	}

	.account {
		margin-right: $horizontal-margin;

		display: flex;
		justify-content: center;
		justify-self: right;
		align-items: center;
		gap: var(--spacing-section-inner);

		.profile {
			display: flex;
			align-items: center;
			gap: 10px;

			color: var(--color-link);
		}

		.profile img {
			width: 38px;
		}

		.notifications {
			display: flex;
			align-items: bottom;
			gap: 10px;
		}

		/* compensate for svg icon spacing */
		.notifications img {
			position: relative;
			top: 4px;
			left: 4px;
		}
	}
}

body>header.small {
	height: min-content;

	padding: {
		top: 16px;
		left: var(--spacing-wrapper);
		right: var(--spacing-wrapper);
		bottom: 16px;
	}

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;

	nav {
		width: 100% !important;
	}

	.logo,
	.account {
		margin: 0;
	}
}

@media screen and (max-width: 1200px) {
	body>header {
		.logo-img {
			width: 4vmin;

			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.search-bar {
			margin-right: 127px;
		}
	}
}

@media screen and (max-width: 1200px) {
	body>header {
		.menu-toggle {
			display: block !important;
		}
	}
}

@media screen and (max-width: 1100px) {
	body>header {
		.search-bar {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 10%);
		}
	}
}

@media screen and (max-width: 800px) {
	body>header {
		.logo {
			visibility: hidden;
		}
	}
}

@media screen and (max-width: 600px) {
	body>header {
		display: none;

		.logo {
			visibility: visible;
		}

		.search-bar {
			position: relative;
			left: 0;
			top: 0;

			transform: none;
		}

		.account {
			width: 100%;
		}
	}

	body>header.small {
		display: flex !important;
	}
}
