/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: var(--color-black);
}

// section heading
h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	font-size: var(--font-size-section-heading);
	font-weight: 700;
	font-style: italic;
}

// table heading
h3 {
	font-size: var(--font-size-table-heading);
	font-weight: 500;
}
