/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
	max-width: $breakpoint-md;
	width: calc(100% - var(--spacing-wrapper));
	margin: 0 auto;
}
