/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
	padding: {
		left: var(--spacing-wrapper) !important;
		right: var(--spacing-wrapper) !important;
	}

	margin: 0 auto;
}
