/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
	--color-black: #1F1F1F;
	--color-white: #f5f3f3;
	--color-link: #674721;
	--color-error: #D40000;

	--color-form-muted: #515151;

	--color-foreground: #E9E4DD;
	--color-background: #FEFAF8;
	--color-background-darker: #F6F4F2;
	--color-background-darkest: #F2F0EB;

	--color-border-light: #ABA39D;
	--color-border-dark: #393431;

	--color-status-valid: #A70D0D;
	--color-status-pending: #D07827;
	--color-status-invalid: #159712;

	--color-progress: rgba(204, 197, 193, 0.4);

	--effect-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
	--effect-shadow-strong: 0 4px 4px rgba(0, 0, 0, 0.4);
}
