/* ==========================================================================
   DIMENSIONS / SETTINGS
   ========================================================================== */

$breakpoint-md: 1200px;
$breakpoint-sm: 600px;

:root {
	--spacing-section-outer: 60px;
	--spacing-section-inner: 32px;
	--spacing-wrapper: 250px;
}
